.search_bar {
  width: 100%;
  max-width: 385px;
  height: 3rem;
  background: #f7f7f7;
  border-radius: 10px;
  outline: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.search_bar svg {
  margin-left: 0.75rem;
}

.search_bar svg path {
  transition: fill 0.2s ease-in-out;
}

.search_bar input {
  outline: none;
  width: 100%;
  padding: 0 0.75rem;
  border: none;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #333;
  background-color: transparent;
}

.search_bar input:focus ~ svg > path {
  fill: #aaa;
}
