.card {
  width: 100%;
  height: 152px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0.75rem;
  text-align: center;
}

.card:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.card h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #182135;
  font-weight: 600;
  margin-bottom: 5px;
}

.card p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #626264;
  font-weight: 400;
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 9px;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
