.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.header h1 {
  font-size: 2rem;
  margin: 2.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 12px;
}

.header p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.details {
  max-width: 580px;
}

.tags span {
  display: inline-block;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  border-radius: 8px;
  font-size: 0.875rem;
  background-color: #f5f5f5;
}
