.thumbnail {
  margin-bottom: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  flex: 1;
}

.header span {
  font-size: 0.6875rem;
  line-height: 1rem;
  padding: 5px 10px;
  font-weight: 600;
  color: #503e9d;
  background-color: #edecf5;
  border-radius: 4px;
}
